body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #222222;
  font-size: 14px;
  #main {
    #left-side {
      background: #f9f9f9;
      padding-left: 30px;
      padding-top: 40px;
      .desktop {
        margin: 0;
        #logo {
          margin-bottom: 87px;
          img {
            margin-right: 15px;
          }
          p {
            display: inline-block;
            margin-top: 10px;
            font-weight: bold;
            font-size: 16px;
          }
        }
        a {
          padding-left: 0px;
          margin-bottom: 36px;
          font-size: 16px;
          line-height: 19px;
          color: rgba(34, 34, 34, 0.5);
        }
      }
    }
    #right-side {
      background: #fefefe;
      .mobile {
        background: #f9f9f9;
        height: 60px;
        margin-bottom: 20px;
        #logo {
          img {
            margin-right: 15px;
          }
          p {
            display: inline-block;
            margin-top: 10px;
            font-weight: bold;
            font-size: 16px;
          }
        }
        button{
          float: right;
          i{
            font-size: 30px;
          }
        }
        .collapse {
          background: #f9f9f9;
          position: relative;
          z-index: 2;
          ul{
            display: block;
            background: #f9f9f9;
            li a {
              margin: 12px 3px;
              font-size: 16px;
              line-height: 20px;
              color: rgba(34, 34, 34, 0.5);
            }
          }
        }
      }
      #top {
        position: relative;
        z-index: 1;
        border-bottom: solid 1px #ebebeb;
        .item {
          margin: 16px 0;
          height: 24px;
          display: inline-block;
          .text {
            line-height: 24px;
          }
          .fa-check-circle {
            margin: 0 5px;
            font-size: 24px;
            color: #17c13c;
          }
          .fa-stack {
            margin: 0 3px;
            margin-top: -3px;
            font-size: 12px;
            .orange {
              color: #ff8b00;
            }
            .gray {
              color: #ebebeb;
            }
            .green {
              color: #17c13c;
            }
            .fa-stack-1x {
              color: #fefefe !important;
              font-weight: bold;
            }
          }
        }
        .item::after {
          content: "";
          display: inline-block;
          height: 2px;
          width: 55px;
          background: #ebebeb;
          top: -3px;
          left: 10px;
          position: relative;
          margin-right: 10px;
        }
        .item:last-child::after {
          display: none;
        }
      }
      #general_info {
        display: inline-block;
        margin-top: 60px;
        margin-bottom: 20px;
        h1 {
          margin-bottom: 30px;
          font-size: 30px;
        }
        #dpo {
          margin-bottom: 21px;
          h2 {
            display: inline-block;
            font-size: 20px;
            line-height: 20px;
            margin: 5px 20px 5px 0;
          }
          button {
            display: inline-block;
            height: 30px;
            background: #ffffff;
            border: 1px solid #ebebeb;
            border-radius: 15px;
            padding: 0 12px;
            line-height: 30px;
            img {
              height: 14px;
              margin: 7px 4px 9px 0;
              color: #ff8b00;
            }
          }
        }
        p {
          color: #5b5e6d;
          margin-bottom: 30px;
        }
        .table {
          thead {
            th {
              border-top: none;
              color: #5b5e6d;
              font-weight: 500;
              line-height: 16px;
            }
          }
          tbody {
            tr {
              border-bottom: solid 1px #ebebeb;
            }
            td {
              a img {
                height: 14px;
                margin-top: 3px;
                float: right;
                margin-left: 5px;
              }
            }
          }
        }
      }
      #information{
        h2 {
          display: inline-block;
          font-size: 20px;
          line-height: 20px;
          margin: 5px 20px 40px 5px;
        }
        form{
          .form-check{
            display: inline-block;
            margin-bottom: 30px;
          }
          .form-group{
            input{
              margin: 0;
            }
            label{
              color:#5B5E6D;
            }
          }
        }
      }
          .buttons{
            margin-bottom: 200px;
            .btn-back{
              background: #fff;
              height: 50px;
              width: 165px;
              border: 1px solid #ebebeb;
              border-radius: 50px;
              color: #222;
            }
            .btn-continue{
              float: right;
              background: #ff8b00;
              height: 50px;
              width: 165px;
              border: none;
              border-radius: 50px;
              color: #fff;
            }
          }
    }
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}